body {
    background-color: honeydew;
    font-family: 'Roboto', sans-serif;
    text-align:center
}

#container {
    background-color: rgba(240, 255, 240, 0.63);
    width: 200px;
    height: 285px;
    display: inline-block;
}

.line {
    height: 48px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.displaybutton {
    height: 40px;
    width: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    background-color:rgb(167, 187, 187);
    font-size: 22px;
}

.operatorbutton {
    height: 40px;
    width: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    background-color:rgb(167, 187, 187);
    font-size: 22px;
}

.displaybutton:active {
    border-color: rgb(70, 102, 128);
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.4);
}

.operatorbutton:active {
    border-color: rgb(70, 102, 128);
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.4);
}

#equals:active {
    border-color: rgb(70, 102, 128);
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.4);
}

#display {
    height: 40px;
    width: 195px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    background-color: whitesmoke;
    font-size: 30px;
    text-align: right;
}

#equals {
    height: 40px;
    width: 92px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    background-color:rgb(133, 158, 158);
    font-size: 22px;
}

#plus-minus {
    height: 40px;
    width: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    background-color:rgb(167, 187, 187);
    font-size: 22px;
}

